.DS_Store
essinfogail/*
ablation_results/*
learners/*
learners_BNIRL/*
learners_BNIRL_OG/*
learners_BNIRL_Subgoal/*
learners_ChoiKim/*
learners_old/*
learners_H-GAIL_old/*
learners_K-GAIL_old/*
learners_H-GAIL/*
learners_K-GAIL/*
learners_K-AIRL/*
learners_G-GAIL/*
learners_G-AIRL/*
deep_dp_birl_stress/*
old_learners/*
learners_long/*
methods/transformer_folder/*
models/*
*.pyc
__pycache__/
*.aux
*.log
*.out
*.toc
*.pdf
*.csv
consensus_agents/*
node_modules/